<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./style.css">
        <title>Portfólio Henrique</title>
    </head>
    <body>
        <div class="background">
        <header class="header-container">
            <div class="header"></div>
            <h1>Henrique Zorzan</h1>
            <h2>Front-end developer</h2>
    
            <div class="social-media">
                <a class="social-link" href="https://www.linkedin.com/in/luiz-henrique-zorzan-b940561a5/">LinkedIn</a>
                <a class="social-link" href="https://github.com/">GitHub</a>
            </div>
        </header>
    </div>
        <main class="container">
            <div class="card-container">
                <div class="card"></div>
                <div class="card-wrapper">
                    <h2>Meu primeiro projeto</h2>
                    <p>Venha conferir</p>
                    <div class="card-text">
                        Desenvolvi uma tela de login utilizando HTML e CSS. Este
                        projeto inicial me ajudou a entender os fundamentos do
                        design web e a estruturação de páginas.
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card"></div>
                <div class="card-wrapper">
                    <h2>Meu segundo projeto</h2>
                    <p>Venha conferir</p>
                    <div class="card-text">
                        Desenvolvi um site responsivo utilizando HTML, CSS e JavaScript.
                        Este projeto me ajudou a melhorar minhas habilidades em design responsivo e interatividade.
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card"></div>
                <div class="card-wrapper">
                    <h2>Meu terceiro projeto</h2>
                    <p>Venha conferir</p>
                    <div class="card-text">
                        Criei um portfólio online utilizando HTML, CSS e Bootstrap.
                        Este projeto me permitiu explorar frameworks de front-end e técnicas avançadas de CSS.
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card"></div>
                <div class="card-wrapper">
                    <h2>Meu quarto projeto</h2>
                    <p>Venha conferir</p>
                    <div class="card-text">
                        Desenvolvi uma aplicação de lista de tarefas utilizando HTML, CSS e JavaScript.
                        Este projeto me ajudou a entender melhor a manipulação do DOM e eventos em JavaScript.
                    </div>
                </div>
            </div>
        </main>

        
        
        
        <footer class="footer"></footer>
    </body>
</html>
